<section class="social aside-module grid__item one-whole lap-one-half">
  <h1 class="title delta">
    Follow me!
  </h1>
  <ul class="unstyled">
  
    <li><a class="twitter" href="//twitter.com/estynedwards"><i class="icon-twitter"></i> Twitter</a></li>
    <li><a class="github" href="//github.com/estyn"><i class="icon-github"></i> Github</a></li>
    
  </ul>
</section>
<section id="recent-posts" class="aside-module grid__item one-whole lap-one-half">
  <h1 class="title delta">Recent Posts</h1>
  <ul class="divided">
    {{range first 5 .Site.Pages}}
	 <li class="post">
        <a href="{{ .Permalink }}">{{.Title}}</a>
		
      </li>
	{{end}}
  
    
  </ul>
</section>